:root{
    --color: #03989E;
    --text: #496063;
    --fondo: #D6EAF8;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:var(--color);
    color: var(--text);
}

 input{
    padding: 13px 0px 0px 0px;
    border: 5%;
    border-color: var(--color);
    border-radius: 50px;
    text-align: center;
   font-size: 18px;
}
input:hover{
 gap: initial;
}

a:visited{
text-decoration: none;
}
li h2 {
    font-size: 2rem;
   
    
}



/*Cabecera*/
.head_pag{
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    border: 0%;
    padding: 0%;
    margin: 0%;
}
.img_redes_sociales{
    padding: 10px;
}

.ref_busqueda{
    margin: 0px 10px 0 0;
   
}
.img_busqueda{
    padding: 10px 0px 0px 0px;
}
/* Barra menu*/
.look_For{
   
    display: flex;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    
}
.img_look_for{
    justify-content: flex-start;
    margin: 0px 34% 0px 0px;
}
.referencias_look_for{
    color: black;
    margin: 30px 20px 50px 0px;
    text-decoration: none;
    padding: 9px 0px 0px 0px;
    
    
}
.referencias_look_for:hover{
    color: var(--color);
   
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
/*Menu opciones*/
.btn_options{
    margin: 0px 15px 0% 15px;
    border: 0;
    background-color: #D6EAF8;
}
.btn_options:hover{
     background-color: var(--red);
    text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2_products{
    padding: 50px 100px 0px 200px;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 5%;
 
    

}
/*productos*/
.products{
    display: flex;
    justify-content: space-around;
  background-color: var(--fondo);
 
}
.products_img{
    background-color: var(--color);
    justify-content: center;
 border: 0px px 0px 0px;
 margin: 50px;
 background-color: var(--fondo);
  
}
.btn_options-2{ 
    display: flexbox;
    justify-content: center;
    border-radius: 5%;
    margin: 20px;
 
}
.btn_options-2:hover{
    background-color: var(--color);
    text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detalles{
    color: black;
    margin: 30px 20px 50px 10px;
    text-decoration: none;
    font-size: 25px;
    background-color: var(--color);
    border-radius: 15%;
    border: 10%;
}
.detalles:hover{
    background-color: var(--text);    
}
.seeker{
    background-color: #D6EAF8;
    justify-content: center;
 padding: 40px;
 border: 0px px 0px 0px;
 width: 300px;
 height: 810px;
}

.h2_seeker{
    
    text-decoration: none;
}
.h2_seeker:link{
    text-decoration: none;
}
/*final*/
.final{
    display: flex;
    padding: 20px 10px 0px 50px;
    justify-content: space-around;
    background-color: #3E807C;
   
}
.sectionP_Final{
    
    display: flex;
    text-align: justify;
}
.p_final{
    font-size: 15px;
    display: flex;
    text-align: center;
}
.sectionh4_final{
    padding: 20px 10px 0px 50px;
}
.menufinal{
    display: flex;
    
    flex-direction: column-reverse;
    padding: 10px;
    border: 10px;
    margin: 10px;

}
.menufinal a{
    font-size: 20px;
}

