:root{
    --color: #03989E;
}
body{
    background-color: #F0FFFF;
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Cabecera*/
.head_pag{
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    border: 0%;
    padding: 0%;
    margin: 0%;
}
.img_redes_sociales{
    padding: 10px;
}
input{
    border-radius: 150px;
    margin: 0px 20px 0 0;
    padding: 5px;  
}
.ref_busqueda{
    margin: 0px 10px 0 0;
}

/* Barra menu*/
.look_For{
   
    display: flex;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    
}
.img_look_for{
    justify-content: flex-start;
    margin: 0px 34% 0px 0px;
}
.referencias_look_for{
    color: black;
    margin: 30px 20px 50px 0px;
    text-decoration: none;
    
    
}
.referencias_look_for:hover{
    color: var(--color);
   
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Menu opciones*/
.btn_options{
    margin: 0px 15px 0% 15px;
    border: 0;
    background-color: #D6EAF8;
}
.btn_options:hover{
    background-color: var(--color);
    text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.h2_products{
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 5%;
 
    

}
/*productos*/
.products{
    display: flex;
    justify-content: space-around;
  
 
}
.products_img{
    background-color: #D6EAF8;
    justify-content: center;
 padding: 40px;
 border: 0px px 0px 0px;
  
}
.btn_options-2{ 
    display: flexbox;
    justify-content: center;
    border-radius: 5%;
    margin: 20px;
 
}
.btn_options-2:hover{
    background-color: var(--color);
    text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detalles{
    color: black;
    margin: 30px 20px 50px 10px;
    text-decoration: none;
    font-size: 25px;
    background-color: var(--color);
    border-radius: 15%;
    border: 10%;
}
.detalles:hover{
    background-color: white;
}
.seeker{
    background-color: #d4d4d4;
    justify-content: center;
 padding: 40px;
 border: 0px px 0px 0px;
}